# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
.env

# Base de datos local (se autogenera al ejecutar)
instance/*.db
_site/

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp